absl-py==0.11.0
apache-beam==2.25.0
astroid @ file:///C:/ci/astroid_1592481955828/work
astunparse==1.6.3
attrs==20.3.0
avro-python3==1.10.0
cachetools==4.1.1
certifi==2020.12.5
cffi==1.14.3
chardet==3.0.4
click @ file:///home/linux1/recipes/ci/click_1610990599742/work
colorama @ file:///tmp/build/80754af9/colorama_1603211150991/work
contextlib2==0.6.0.post1
crcmod==1.7
cycler==0.10.0
Cython==0.29.21
dataclasses==0.6
dill==0.3.1.1
dlib @ file:///D:/bld/dlib_1607165093336/work
dm-tree==0.1.5
docopt==0.6.2
face-recognition==1.3.0
face-recognition-models==0.3.0
fastavro==1.2.0
Flask @ file:///home/ktietz/src/ci/flask_1611932660458/work
future==0.18.2
gast==0.3.3
gin-config==0.3.0
google-api-core==1.23.0
google-api-python-client==1.12.8
google-auth==1.23.0
google-auth-httplib2==0.0.4
google-auth-oauthlib==0.4.2
google-cloud-bigquery==2.4.0
google-cloud-core==1.4.3
google-crc32c==1.0.0
google-pasta==0.2.0
google-resumable-media==1.1.0
googleapis-common-protos==1.52.0
grpcio==1.33.2
gTTS==2.2.1
h5py==2.10.0
hdfs==2.5.8
httplib2==0.17.4
idna==2.10
importlib-metadata==2.0.0
importlib-resources==3.3.0
imutils==0.5.3
isort @ file:///tmp/build/80754af9/isort_1602603989581/work
itsdangerous==1.1.0
Jinja2 @ file:///home/linux1/recipes/ci/jinja2_1610990516718/work
joblib==1.0.0
kaggle==1.5.9
Keras-Preprocessing==1.1.2
kiwisolver==1.3.1
lazy-object-proxy==1.4.3
lvis==0.5.3
lxml==4.6.1
Markdown==3.3.3
MarkupSafe @ file:///C:/ci/markupsafe_1594405949945/work
matplotlib==3.3.3
mccabe==0.6.1
mkl-fft==1.2.0
mkl-random==1.1.1
mkl-service==2.3.0
mock==2.0.0
numpy @ file:///C:/ci/numpy_and_numpy_base_1603468620949/work
oauth2client==4.1.3
oauthlib==3.1.0
object-detection @ file:///C:/Users/jorda/OneDrive/Documents/My%20Projects/Python/Python%20Scripts/Tensorflow/models/research
opencv-python==4.4.0.46
opencv-python-headless==4.4.0.46
opt-einsum==3.3.0
pandas==1.1.4
pbr==5.5.1
Pillow==8.0.1
playsound==1.2.2
promise==2.3
proto-plus==1.11.0
protobuf==3.14.0
psutil==5.7.3
py-cpuinfo==7.0.0
pyarrow==0.17.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycocotools @ git+https://github.com/philferriere/cocoapi.git@2929bd2ef6b451054755dfd7ceb09278f935f7ad#subdirectory=PythonAPI
pycparser==2.20
pydot==1.4.1
pylint @ file:///C:/ci/pylint_1598605958085/work
pymongo==3.11.1
pyparsing==2.4.7
pyrealsense2==2.41.0.2666
python-dateutil==2.8.1
python-slugify==4.0.1
pytz==2020.4
PyYAML==5.3.1
requests==2.25.0
requests-oauthlib==1.3.0
rsa==4.6
scikit-learn==0.24.0
scipy==1.5.4
sentencepiece==0.1.94
six @ file:///C:/ci/six_1605205426665/work
slugify==0.0.1
tensorboard==2.4.0
tensorboard-plugin-wit==1.7.0
tensorflow==2.3.1
tensorflow-addons==0.11.2
tensorflow-datasets==4.1.0
tensorflow-estimator==2.3.0
tensorflow-hub==0.10.0
tensorflow-metadata==0.25.0
tensorflow-model-optimization==0.5.0
termcolor==1.1.0
text-unidecode==1.3
tf-models-official==2.3.0
tf-slim==1.1.0
threadpoolctl==2.1.0
toml @ file:///tmp/build/80754af9/toml_1592853716807/work
tqdm==4.52.0
typed-ast==1.4.1
typeguard==2.10.0
typing-extensions==3.7.4.3
uritemplate==3.0.1
urllib3==1.26.2
Werkzeug @ file:///home/ktietz/src/ci/werkzeug_1611932622770/work
wincertstore==0.2
wrapt==1.12.1
zipp==3.4.0
